USE [db2602]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[IngredientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintance]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintance](
	[MaintanceId] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [char](36) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[WorkDescription] [nvarchar](250) NOT NULL,
	[IssuesFound] [nvarchar](250) NULL,
	[WorkerId] [char](36) NOT NULL,
 CONSTRAINT [PK_Maintance] PRIMARY KEY CLUSTERED 
(
	[MaintanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matrix]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matrix](
	[MatrixId] [char](36) NOT NULL,
	[MachineId] [char](36) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[MatrixTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Matrix] PRIMARY KEY CLUSTERED 
(
	[MatrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatrixProduct]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatrixProduct](
	[MatrixId] [char](36) NOT NULL,
	[ProductId] [char](36) NOT NULL,
	[Price] [decimal](7, 2) NOT NULL,
	[TotalInStock] [int] NOT NULL,
 CONSTRAINT [PK_MatrixProduct] PRIMARY KEY CLUSTERED 
(
	[MatrixId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatrixType]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatrixType](
	[MatryxTypeId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MatrixType] PRIMARY KEY CLUSTERED 
(
	[MatryxTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[PlaceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [char](36) NOT NULL,
	[Article] [varchar](255) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[TypeId] [int] NULL,
	[MinInStock] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[ProductId] [char](36) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeIngredient]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredient](
	[ProductId] [char](36) NOT NULL,
	[IngredientId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_RecipeIngredients] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [char](36) NOT NULL,
	[ProductId] [char](36) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePriority]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePriority](
	[PriorityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ServicePriority] PRIMARY KEY CLUSTERED 
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [char](36) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[SecondName] [nvarchar](150) NOT NULL,
	[Patronymic] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [float] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Password] [char](60) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [char](36) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachine]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachine](
	[MachineId] [char](36) NOT NULL,
	[UserId] [char](36) NOT NULL,
	[SerialNumber] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[WorkModeId] [int] NOT NULL,
	[Model] [varchar](250) NOT NULL,
	[Location] [nvarchar](250) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Latitude] [float] NULL,
	[Longtitude] [float] NULL,
	[CompanyId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[InstallDate] [date] NOT NULL,
	[LastMaintenanceDate] [date] NULL,
	[StatusId] [int] NOT NULL,
	[IsBill] [bit] NOT NULL,
	[IsCoin] [bit] NOT NULL,
	[IsNfc] [bit] NOT NULL,
	[IsQr] [bit] NOT NULL,
	[Manager] [char](36) NULL,
 CONSTRAINT [PK_VendingMachine] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkMode]    Script Date: 02.02.2026 13:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkMode](
	[WorkModeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WorkMode] PRIMARY KEY CLUSTERED 
(
	[WorkModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyId], [Name]) VALUES (1, N'ООО Торговые Аппараты')
INSERT [dbo].[Company] ([CompanyId], [Name]) VALUES (2, N'ООО Про Вендинг Групп')
INSERT [dbo].[Company] ([CompanyId], [Name]) VALUES (3, N'ООО ВендингСервис Плюс')
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Maintance] ON 

INSERT [dbo].[Maintance] ([MaintanceId], [MachineId], [Date], [WorkDescription], [IssuesFound], [WorkerId]) VALUES (1, N'a977e322-192c-4567-9f5f-36f504bfc13d', CAST(N'2024-09-13T16:44:04.0000000' AS DateTime2), N'Замена дисплея', N'Зависла сессия оплаты', N'7a051229-40bb-443e-80b8-024cb239f52b')
INSERT [dbo].[Maintance] ([MaintanceId], [MachineId], [Date], [WorkDescription], [IssuesFound], [WorkerId]) VALUES (2, N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', CAST(N'2024-04-25T06:59:09.0000000' AS DateTime2), N'Чистка внутренних узлов', N'Проблемы с термобумагой', N'7a051229-40bb-443e-80b8-024cb239f52b')
INSERT [dbo].[Maintance] ([MaintanceId], [MachineId], [Date], [WorkDescription], [IssuesFound], [WorkerId]) VALUES (3, N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', CAST(N'2024-07-12T19:03:57.0000000' AS DateTime2), N'Ремонт купюроприемника', N'Проблемы с термобумагой', N'c59a07db-17d1-4769-9d5c-19c0ab4d435c')
GO
SET IDENTITY_INSERT [dbo].[Maintance] OFF
GO
INSERT [dbo].[MatrixType] ([MatryxTypeId], [Name]) VALUES (1, N'Рецептурная')
INSERT [dbo].[MatrixType] ([MatryxTypeId], [Name]) VALUES (2, N'Штучная')
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([PaymentId], [Name]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentType] ([PaymentId], [Name]) VALUES (2, N'Карта')
INSERT [dbo].[PaymentType] ([PaymentId], [Name]) VALUES (3, N'Qr-код')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Place] ON 

INSERT [dbo].[Place] ([PlaceId], [Name]) VALUES (1, N'У входа')
INSERT [dbo].[Place] ([PlaceId], [Name]) VALUES (2, N'Офис')
INSERT [dbo].[Place] ([PlaceId], [Name]) VALUES (3, N'Холл')
SET IDENTITY_INSERT [dbo].[Place] OFF
GO
INSERT [dbo].[Product] ([ProductId], [Article], [Name], [TypeId], [MinInStock]) VALUES (N'58e4b1af-8412-4b5e-810d-0c338154e489', N'MtnDew', N'Mountain Dew 12 oz cans', 2, 4)
INSERT [dbo].[Product] ([ProductId], [Article], [Name], [TypeId], [MinInStock]) VALUES (N'6e3788f5-fbc8-4327-aa5a-a0ba7372b17f', N'WDCG', N'Wrigley''s Doublemint Chewing Gum 5 stick', 1, 8)
INSERT [dbo].[Product] ([ProductId], [Article], [Name], [TypeId], [MinInStock]) VALUES (N'865bc544-67fe-4d11-ab08-7524503718c3', N'Coke', N'Coca Cola 12 oz cans', 2, 5)
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([TypeId], [Name]) VALUES (1, N'Напиток')
INSERT [dbo].[ProductType] ([TypeId], [Name]) VALUES (2, N'Еда')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Менеджер')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Инженер')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Оператор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[ServicePriority] ON 

INSERT [dbo].[ServicePriority] ([PriorityId], [Name]) VALUES (1, N'Низкий')
INSERT [dbo].[ServicePriority] ([PriorityId], [Name]) VALUES (2, N'Средний')
INSERT [dbo].[ServicePriority] ([PriorityId], [Name]) VALUES (3, N'Высокий')
SET IDENTITY_INSERT [dbo].[ServicePriority] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (1, N'Работает')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (2, N'Обслуживается')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (3, N'Сломан')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'01f0b7d3-9b64-49d0-b63e-9190d736d091', 2)
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'108519e5-d8b4-419a-ac60-4bedecc9e204', 4)
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (N'20b7e4c6-0cba-4eb4-afa9-4d3a6a8d34c6', 4)
GO
SET IDENTITY_INSERT [dbo].[WorkMode] ON 

INSERT [dbo].[WorkMode] ([WorkModeId], [Name]) VALUES (1, N'Стандартный')
INSERT [dbo].[WorkMode] ([WorkModeId], [Name]) VALUES (2, N'Тестовый')
SET IDENTITY_INSERT [dbo].[WorkMode] OFF
GO
ALTER TABLE [dbo].[Maintance]  WITH CHECK ADD  CONSTRAINT [FK_Maintance_User] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Maintance] CHECK CONSTRAINT [FK_Maintance_User]
GO
ALTER TABLE [dbo].[Maintance]  WITH CHECK ADD  CONSTRAINT [FK_Maintance_VendingMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachine] ([MachineId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Maintance] CHECK CONSTRAINT [FK_Maintance_VendingMachine]
GO
ALTER TABLE [dbo].[Matrix]  WITH CHECK ADD  CONSTRAINT [FK_Matrix_MatrixType] FOREIGN KEY([MatrixTypeId])
REFERENCES [dbo].[MatrixType] ([MatryxTypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Matrix] CHECK CONSTRAINT [FK_Matrix_MatrixType]
GO
ALTER TABLE [dbo].[Matrix]  WITH CHECK ADD  CONSTRAINT [FK_Matrix_VendingMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachine] ([MachineId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Matrix] CHECK CONSTRAINT [FK_Matrix_VendingMachine]
GO
ALTER TABLE [dbo].[MatrixProduct]  WITH CHECK ADD  CONSTRAINT [FK_MatrixProduct_Matrix] FOREIGN KEY([MatrixId])
REFERENCES [dbo].[Matrix] ([MatrixId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MatrixProduct] CHECK CONSTRAINT [FK_MatrixProduct_Matrix]
GO
ALTER TABLE [dbo].[MatrixProduct]  WITH CHECK ADD  CONSTRAINT [FK_MatrixProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MatrixProduct] CHECK CONSTRAINT [FK_MatrixProduct_Product]
GO
ALTER TABLE [dbo].[MatrixProduct]  WITH CHECK ADD  CONSTRAINT [FK_MatrixProduct_Recipe] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Recipe] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MatrixProduct] CHECK CONSTRAINT [FK_MatrixProduct_Recipe]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ProductType] ([TypeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[RecipeIngredient]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredients_Ingredient] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredient] ([IngredientId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RecipeIngredient] CHECK CONSTRAINT [FK_RecipeIngredients_Ingredient]
GO
ALTER TABLE [dbo].[RecipeIngredient]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredients_Recipe] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Recipe] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RecipeIngredient] CHECK CONSTRAINT [FK_RecipeIngredients_Recipe]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_PaymentType] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([PaymentId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_PaymentType]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_VendingMachine] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachine] ([MachineId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_VendingMachine]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_Company] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_Company]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([PlaceId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_Place]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_ServicePriority] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[ServicePriority] ([PriorityId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_ServicePriority]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_Status]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_User]
GO
ALTER TABLE [dbo].[VendingMachine]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachine_WorkMode] FOREIGN KEY([WorkModeId])
REFERENCES [dbo].[WorkMode] ([WorkModeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VendingMachine] CHECK CONSTRAINT [FK_VendingMachine_WorkMode]
GO
