USE [master]
GO
/****** Object:  Database [final]    Script Date: 20.12.2025 19:13:24 ******/
CREATE DATABASE [final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'final', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\final.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'final_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [final]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20.12.2025 19:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maker]    Script Date: 20.12.2025 19:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maker](
	[MakerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Maker] PRIMARY KEY CLUSTERED 
(
	[MakerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 20.12.2025 19:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[ReceiveCode] [int] NOT NULL,
	[IsFinished] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 20.12.2025 19:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shoe]    Script Date: 20.12.2025 19:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoe](
	[ShoeId] [int] IDENTITY(1,1) NOT NULL,
	[Article] [char](6) NOT NULL,
	[Price] [int] NOT NULL,
	[Discount] [tinyint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Size] [tinyint] NULL,
	[Color] [nvarchar](50) NULL,
	[VendorId] [int] NOT NULL,
	[MakerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsFemale] [bit] NOT NULL,
	[PhotoName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shoe] PRIMARY KEY CLUSTERED 
(
	[ShoeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoeOrder]    Script Date: 20.12.2025 19:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoeOrder](
	[OrderId] [int] NOT NULL,
	[ShoeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ShoeOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ShoeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.12.2025 19:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FirstName] [nvarchar](35) NOT NULL,
	[SecondName] [nvarchar](35) NOT NULL,
	[Patronymic] [nvarchar](35) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [nchar](60) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 20.12.2025 19:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Ботинки')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Туфли')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'Кроссовки')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Maker] ON 

INSERT [dbo].[Maker] ([MakerId], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Maker] ([MakerId], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Maker] ([MakerId], [Name]) VALUES (3, N'Poc')
SET IDENTITY_INSERT [dbo].[Maker] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode], [IsFinished]) VALUES (1, 4, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 901, 1)
INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode], [IsFinished]) VALUES (2, 1, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 902, 1)
INSERT [dbo].[Order] ([OrderId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode], [IsFinished]) VALUES (3, 2, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 903, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'manager')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'client')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Shoe] ON 

INSERT [dbo].[Shoe] ([ShoeId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [VendorId], [MakerId], [CategoryId], [IsFemale], [PhotoName]) VALUES (1, N'А112Т4', 4990, 3, 6, N'Демисезонные', NULL, NULL, 1, 1, 1, 1, N'1.jpg')
INSERT [dbo].[Shoe] ([ShoeId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [VendorId], [MakerId], [CategoryId], [IsFemale], [PhotoName]) VALUES (2, N'F635R4', 3244, 2, 13, N'Демисезонные', 39, N'бежевый', 2, 2, 1, 1, N'2.jpg')
INSERT [dbo].[Shoe] ([ShoeId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [VendorId], [MakerId], [CategoryId], [IsFemale], [PhotoName]) VALUES (3, N'H782T5', 4499, 5, 5, N'Классика', 43, N'чёрный', 1, 1, 2, 0, N'3.jpg')
SET IDENTITY_INSERT [dbo].[Shoe] OFF
GO
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (1, 1, 2)
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (1, 2, 2)
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (2, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (1, 1, N'Весения', N'Никифорова', N'Николаевна', N'94d5ous@gmail.com', N'$2a$11$4jBOGdDUf3K6YymyXaijXufRIjSuBfsR0f8h3v6IGVohnLM9LZVO6')
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (2, 1, N'Руслан', N'Сазонов', N'Германович', N'uth4iz@mail.com', N'$2a$11$TkYOoEqSOidmxM/9Mi3bS.mZh.SOWYEbzqPnW9XyJFpaaycaXFktW')
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (3, 1, N'Серафим', N'Одинцов', N'Артёмович', N'yzls62@outlook.com', N'$2a$11$VPvRzWDOYgKu4rlUtlwMsuj2C9CF/WmzmArlBtlWhDERY4nCC3xAi')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([VendorId], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Vendor] ([VendorId], [Name]) VALUES (2, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
ALTER TABLE [dbo].[Shoe] ADD  CONSTRAINT [DF_Shoe_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Shoe] ADD  CONSTRAINT [DF_Shoe_IsFemale]  DEFAULT ((0)) FOR [IsFemale]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Category]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Maker] FOREIGN KEY([MakerId])
REFERENCES [dbo].[Maker] ([MakerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Maker]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Vendor]
GO
ALTER TABLE [dbo].[ShoeOrder]  WITH CHECK ADD  CONSTRAINT [FK_ShoeOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShoeOrder] CHECK CONSTRAINT [FK_ShoeOrder_Order]
GO
ALTER TABLE [dbo].[ShoeOrder]  WITH CHECK ADD  CONSTRAINT [FK_ShoeOrder_Shoe] FOREIGN KEY([ShoeId])
REFERENCES [dbo].[Shoe] ([ShoeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShoeOrder] CHECK CONSTRAINT [FK_ShoeOrder_Shoe]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
