USE [final]
GO
/****** Object:  Table [dbo].[Maker]    Script Date: 20.12.2025 19:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maker](
	[MakerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Maker] PRIMARY KEY CLUSTERED 
(
	[MakerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Maker] ON 

INSERT [dbo].[Maker] ([MakerId], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Maker] ([MakerId], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Maker] ([MakerId], [Name]) VALUES (3, N'Poc')
SET IDENTITY_INSERT [dbo].[Maker] OFF
GO
