USE [final]
GO
/****** Object:  Table [dbo].[ShoeOrder]    Script Date: 20.12.2025 19:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoeOrder](
	[OrderId] [int] NOT NULL,
	[ShoeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ShoeOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ShoeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (1, 1, 2)
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (1, 2, 2)
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (2, 3, 1)
GO
ALTER TABLE [dbo].[ShoeOrder]  WITH CHECK ADD  CONSTRAINT [FK_ShoeOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShoeOrder] CHECK CONSTRAINT [FK_ShoeOrder_Order]
GO
ALTER TABLE [dbo].[ShoeOrder]  WITH CHECK ADD  CONSTRAINT [FK_ShoeOrder_Shoe] FOREIGN KEY([ShoeId])
REFERENCES [dbo].[Shoe] ([ShoeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShoeOrder] CHECK CONSTRAINT [FK_ShoeOrder_Shoe]
GO
